<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div>
      <a href="/" class="btn">Show Items</a>
    </div>
    <form action="/" class="form-inline" method="POST">
      <label for="content">Name:</label>
      <input type="text" id = "content" placeholder="food item" name="content">
      <label for="weight">Weight(grams):</label>
      <input type="text" id = "weight" placeholder="weight" name="weight">
      <label for="price">Price:</label>
      <input type="text" id = "price" placeholder="price" name="price">
<!--  <input type="file" class="btn_upload" name="file"> -->
      <button type="submit" class="btn">Post</button>
    </form>
   </body>
</html>
